In [1]:
import pandas as pd

In [2]:
file_path = '../data/processed/engineered_data.csv'
df = pd.read_csv(file_path) ; df

,student_id,full_name,gender,math_score,english_score,science_score,attendance_rate,term,gpa,risk_score,engagement_level
0,5506-350,Mary Smith,Male,92.0,14.0,71.0,74.98,2023_T1,59.000000,50,Low
1,2424-704,Mary Moore,Female,82.0,86.0,74.0,83.95,2023_T1,80.666667,0,Medium
2,4582-338,James Johnson,Male,99.0,23.0,2.0,78.37,2024_T1,41.333333,0,Medium
3,7873-325,Patricia Moore,Female,1.0,87.0,29.0,60.82,2024_T1,39.000000,51,Low
4,3615-814,Robert Smith,Female,63.0,59.0,20.0,68.49,2023_T2,47.333333,50,Low
...,...,...,...,...,...,...,...,...,...,...,...
595,5093-196,William Moore,Female,18.0,27.0,39.0,74.76,2023_T1,28.000000,51,Low
596,1195-163,John Johnson,Male,96.0,75.0,14.0,90.05,2023_T1,61.666667,0,High
597,7098-802,Patricia Miller,Male,1.0,62.0,28.0,89.99,2024_T1,30.333333,1,Medium
598,2228-122,Elizabeth Brown,Male,65.0,50.0,74.0,87.15,2023_T1,63.000000,0,Medium
599,2506-967,Linda Williams,Female,13.0,81.0,50.0,83.95,2023_T1,48.000000,0,Medium

In [3]:
# Find the top 10 students
top_students = df.sort_values(by='gpa', ascending=False)

In [5]:
top_students.head()

,student_id,full_name,gender,math_score,english_score,science_score,attendance_rate,term,gpa,risk_score,engagement_level
298,6447-236,Mary Taylor,Male,81.0,99.0,NaN,96.35,2023_T2,90.000000,0,High
415,2653-708,Patricia Johnson,Male,95.0,91.0,80.0,76.97,2023_T2,88.666667,0,Medium
256,8354-797,Elizabeth Taylor,Female,86.0,95.0,80.0,99.41,2024_T1,87.000000,0,High
159,4335-373,Linda Smith,Male,84.0,74.0,100.0,95.65,2023_T2,86.000000,0,High
441,9000-288,John Moore,Male,95.0,63.0,97.0,63.97,2024_T1,85.000000,50,Low

In [6]:
top_students[['student_id', 'full_name', 'gender', 'gpa']].to_csv('../data/processed/top_students.csv', index=False)

In [7]:
at_risk = df[df['risk_score'] > 0]

In [9]:
at_risk.head()

,student_id,full_name,gender,math_score,english_score,science_score,attendance_rate,term,gpa,risk_score,engagement_level
0,5506-350,Mary Smith,Male,92.0,14.0,71.0,74.98,2023_T1,59.000000,50,Low
3,7873-325,Patricia Moore,Female,1.0,87.0,29.0,60.82,2024_T1,39.000000,51,Low
4,3615-814,Robert Smith,Female,63.0,59.0,20.0,68.49,2023_T2,47.333333,50,Low
6,2584-467,Mary Miller,Female,58.0,41.0,91.0,71.65,2024_T1,63.333333,50,Low
10,2654-489,Mary Jones,Female,38.0,17.0,3.0,66.82,2023_T2,19.333333,51,Low

In [8]:
at_risk[['student_id', 'full_name', 'gpa', 'risk_score', 'engagement_level']].to_csv('../data/processed/at_risk_students.csv', index=False)

In [12]:
engagement_counts = df['engagement_level'].value_counts()
engagement_counts.to_csv('../data/processed/engagement_counts.csv', header=True)